- var setPropData = function(config) {
- 	var config = config || {};
- 	var data = {};
- 	data.value = (config.value) ?  config.value :  '';
- 	data.placeholder = (config.placeholder) ?  config.placeholder : '';
- 	data.class = (config.class) ? config.class : '';
- 	data.ngSubmit = (config.ngSubmit) ? config.ngSubmit : false;
- 	data.ngClick = (config.ngClick) ? config.ngClick : false;
- 	data.ngModel = (config.ngModel) ? config.ngModel : false;
- 	return data
- } 