- // received the html properties attributes
- var setPropData = function(configObject) {
- 	var data = {};
- 	data.value = configObject.value || '';
- 	data.placeholder = configObject.placeholder || '';
- 	data.class = configObject.class || '';
- 	return data
- } 