include functions.jade
include mixins/_forms.jade
include mixins/_formsErrors.jade
include mixins/_head.jade
include mixins/_icons.jade
include mixins/_image.jade
include mixins/_menu.jade
include mixins/_misc.jade