//- https://github.com/sinsunsan/archiref_wiki/wiki/jade-recipes
//- https://github.com/visionmedia/jade/issues/833
mixin json()
  - var oldbuf = buf; buf = [];
  block
  - var res = JSON.stringify(JSON.parse(buf.join('')));
  - buf = oldbuf;
  != res
